.bg_img {
  height: 41rem;
  background: url("../assets/image/Bg_Img_1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.overlay {
  /* background: rgba(34, 77, 194, 0.2); */
  background: rgba(2, 8, 27, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.myImg {
  padding-top: 8rem;
}
.myImg img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  display: block;
  margin: auto;
  border: 4px solid var(--white-color);
}
.myImgText {
  margin-top: 1rem;
}
.myImgText span.hi {
  color: transparent;
  -webkit-text-stroke: 1px var(--white-color);
}
.myImgText span.dot {
  font-style: 5rem;
  font-weight: 700;
  color: var(--yellow-color);
}
.myImgText h1 {
  color: var(--white-color);
  display: block;
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
}
.myImgText p {
  color: var(--white-color);
  display: block;
  text-align: center;
  font-size: 22px;
  margin-top: 5px;
}
/* MOUSE_SCROLL_START */
@import url("https://fonts.googleapis.com/css?family=Raleway");
.icon-scroll,
.icon-scroll::before {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.icon-scroll {
  width: 40px;
  height: 70px;
  border: 2px solid var(--white-color);
  border-radius: 25px;
  cursor: pointer;
  margin-top: 20px;
}
.icon-scroll::before {
  content: "";
  width: 8px;
  height: 8px;
  background: var(--yellow-color);
  margin-left: -4px;
  top: 15px;
  border-radius: 50%;
  animation: 1.5s scroll cubic-bezier(0.65, -0.55, 0.25, 1.5) infinite;
}
@keyframes scroll {
  0% {
    opacity: 0;
    transform: translateY(0) scale(0.5);
  }
  10% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(30px) scale(0.5);
  }
}
@media (max-width: 575px) {
  .bg_img {
    height: 35rem;
  }
  .myImg img {
    height: 150px;
    width: 150px;
  }
  .myImg {
    padding-top: 6rem;
  }
  .myImgText h1 {
    font-size: 3rem;
  }
  .myImgText p {
    font-size: 18px;
  }
}
